/* Global Styles */
* {
  margin: 0;
  padding: 0;
}

/* Top-Nav Styling */
.top-nav {
  background-color: rgb(13, 45, 62);
  color: white;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0px 45px;
}

.date-time {
  font-family: Roboto, sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 100;

  color: rgba(212, 212, 212, 0.973);
}

.date-time p i {
  color: #e94d65;
}

.social-media-ico {
  display: flex;
  gap: 30px;

  font-size: 16px;
  font-weight: 400;
  font-family: Poppins, sans-serif;
  line-height: 24px;
}

/* NavBar Styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 80px;
  padding: 10px 45px;
}

.menu {
  display: flex;
  list-style: none;
  gap: 18px;

}

.menu a {
  text-decoration: none;
  color: rgb(20, 67, 92);
  font-size: 16px;
  font-weight: 400;
  font-family: Poppins, sans-serif;

  /* background-color: lightblue;
  line-height: 24px; */

}

.menu li {
  position: relative;


  display: block;

  /* background-color: #030303; */


  line-height: 80px;
  padding: 15px;
}

.menu li:hover .sub-menu {
  display: block;
}

.sub-menu {
  position: absolute;

  list-style: none;
  background-color: rgb(13, 45, 62);
  width: 170px;
  /* top: 90%; */
  top: 80%;
  left: -50%;
  display: none;

  padding: 10px; 
  margin: 5px 0 0; 



  z-index: 1000;
}

/* imp */
.sub-menu li{
  line-height: 2px;
}


.sub-menu a {
  color: rgb(253, 253, 253);
  font-weight: 400;
  font-size: 15px;
  font-family: sans-serif;

}



/* Hero Secion Styling */
.hero {
  /* background: url("../../Assets/images/hero.png") top center; */
  background-image: url("../../Assets/images/hero.png");
  background-size: cover;
  background-position: center;
  height: 910px;
  background-repeat: no-repeat;

  position: relative;
}

.hero-content {
  display: flex;
  flex-direction: column;
  padding-left: 150px;
  gap: 25px;
  padding-top: 250px;
}

.red-line {
  border-bottom: 3px solid rgb(235, 86, 108);
  width: 60px;
  margin-bottom: 10px;
}

.text-1 {
  color: rgb(235, 86, 108);
  font-family: Roboto, sans-serif;
  font-size: 18px;
  line-height: 27px;

  display: flex;
  gap: 30px;
}

.text-2 {
  font-family: Sarabun, sans-serif;
  font-size: 71px;
  /* font-size: 40px; */
  color: black;
  font-weight: 800;
  line-height: 90px;
}

.text-3 {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: black;
}


.service-btn button {
  width: fit-content;

  color: white;
  padding: 25px 50px;
  letter-spacing: 1px;
  border: none;

  background: linear-gradient(to right, rgb(255, 33, 67) 50%, white 50%);
  background-size: 200% 100%;

  /* transition: background-position 0.3s ease; */

  transition: background-position 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

.service-btn button:hover {
  background-position: -100% 0;
  color: black;
}

.arrow-container {
  position: absolute;
  top: 95%;
}

.left {
  left: 15px;
}

.right {
  right: 15px;
}

.arrow-container button {
  /* padding: 20px; */
  border: 1px solid #a5b3ba;
  background-color: transparent;

  width: 60px;
  height: 60px;


  padding: 1px 1px;
}

.arrow-container button i {
  font-size: 20px;
  color: #a5b3ba;
}

/* Initially hiding the hero-content */
.hero-content {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

/* Showing the hero-content when the 'visible' class is added */
.hero-content.visible {
  opacity: 1;
  transform: translateX(0);
}




















/*Services Section*/
body {
  font-family: Arial, Helvetica, sans-serif;
}

.services {
  background-color: #f7f7f7;
  padding: 100px 0;
  height: 100vh;
}

.services-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.underline {
  font-size: 24px;
  margin-bottom: 20px;
  color: red;
}

.best {
  font-size: 36px;
  margin-bottom: 40px;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.box {
  flex: 1;
  margin: 0 10px;
  padding: 25px;
  background-color: #fff;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  height: 350px;
  transition: background 0.5s ease-out;
}
.box:hover {
  background: linear-gradient(to top, #ff2143 50%, #fff 50%);
  background-size: 100% 200%;
  background-position: bottom;
  color: #f7f7f7;
}
.box:hover i {
  color: white;
}
.box:hover p {
  color: white;
}
.box i {
  font-size: 48px;
  margin-bottom: 20px;
  margin-top: 50px;
  color: #eb576d;
}

.box h2 {
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.box p {
  font-size: 16px;
  color: #666;
  margin-top: 40px;
}

.best-services {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
}

.left-content {
  width: 25%;
  height: 100vh;
  background-color: #ff2147;
  position: absolute;
  left: 0;
}

.right-content {
  width: 75%;
  height: 100%;
  background-color: #1b4864;
  position: absolute;
  right: 0;
}

.left-content img {
  width: 600px;
  height: 600px;
  display: block;
  position: relative;
  z-index: 1;
  margin-left: 150px;
  margin-top: 80px;
}
.right-content .right-contents {
  float: right;
  margin-top: 130px;
  margin-right: 80px;
  color: white;
}
.right-contents p {
  color: #cecece;
  font-size: 18px;
}
.right-contents h1 {
  color: #ffffff;
  font-size: 45px;
  font-weight: 600;
  margin-top: -5px;
}
.right-contents h4 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 100;
  line-height: 30px;
}
.right-contents .desc {
  color: #cecece;
  font-size: 16px;
  line-height: 30px;
}
button {
  font-size: 15px;
  font-weight: bold;
  margin-top: 30px;
  padding: 16px 30px;
  width: 200px;
  border: none;
  transition: all 0.5s ease-out;
  color: white;
  background-color: #ff2143;
}
.custom-button {
  background: linear-gradient(to right, #ffff 50%, #ff2143 50%);
  background-size: 200% 100%;
  background-position: right;
}

.custom-button:hover {
  background-position: left;
  color: black;
}


/*By NItesh*/

  
.teams {
  background-color: #f7f7f7;
  height: 120vh;
}
.top-content {
  margin-left: 150px;
  padding-top: 50px;
}
.top-content h5 {
  color: #ff2a4a;
  font-size: 20px;
}
.top-content h1{
  font-size: 30px;
}

.container {
  display: flex;
  align-items: center;
  margin-left: 150px;
}

.image {
  padding: 15px;
  text-align: center;
  transition: transform 0.3s ease;
}
.image img:hover {
  transform: scale(1.1);
}

.image img {
  max-width: 100%;
}

.content {
  background-color: white;
  padding: 10px;
  text-align: center;
}
.content p {
  color: #ff2a4a;
}

/*Services*/
.red-section {
  background-color: #ff284a;
  color: white;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.text {
  width: 50%;
  margin-left: 150px;
  font-size: 30px;
}
button {
  font-size: 15px;
  font-weight: bold;
  margin-top: 30px;
  padding: 16px 30px;
  width: 200px;
  border: none;
  transition: all 0.5s ease-out;
  color: white;
  margin-right: 190px;
}
.botton {
  background: linear-gradient(to right, #ffff 50%, #030303 50%);
  background-size: 200% 100%;
  background-position: right;
}
.botton:hover {
  background-position: left;
  color: black;
}